apiVersion: argoproj.io/v1alpha1
kind: Application
metadata:
  name: whoami-dev
  namespace: argocd
spec:
  project: default
  source:
    repoURL: https://github.com/niehaitao/lil-whoami.git
    targetRevision: HEAD
    path: helm/whoami
    helm:
      valueFiles:
        - ../../base/values.yaml
        - values.yaml
  destination:
    server: https://kubernetes.default.svc
    namespace: demo
  syncPolicy:
    automated:
      prune: true
      selfHeal: true
    syncOptions:
      - CreateNamespace=true
